# Create list

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.
Each element or value that is inside of a list is called an item.
Lists are defined by having values between square brackets [ ].

#### examples

In [2]:
a = ["sumanth", "sai", "bunari"]
print(a);

b = ["name", 1998, 18+29j]
print(b);

c = [1782, 43984, 5345, 7357, 32]
print(c);

['sumanth', 'sai', 'bunari']
['name', 1998, (18+29j)]
[1782, 43984, 5345, 7357, 32]

# Academy data science, data analyst, business analyst, full stack java, full stack python, salseforce, cad, data management, aws, bcp access each element 1by1 (+)possitive,(-)negative.

In [24]:
#acess list elements using possitive slicing
gods = ["shiva", "vishnu", "ganesh", "hanuman", "narasimha", "ram", "krishna", "kalki"]
print(gods[1]);
print(gods[3]);
print(gods[7]);
print(gods[0]);

#acess elements using negative slicing
gods = ["shiva", "vishnu", "ganesh", "hanuman", "narasimha", "ram", "krishna", "kalki"]
print(gods[-6]);
print(gods[-3]);
print(gods[-4]);
print(gods[-2]);

#Accessing group of elements
print(gods[2:7]);
print(gods[1:3]);
print(gods[-4:-7]);

vishnu
hanuman
kalki
shiva
ganesh
ram
narasimha
krishna
['ganesh', 'hanuman', 'narasimha', 'ram', 'krishna']
['vishnu', 'ganesh']
[]

# Create list with 5 items & modify by index and slicing

In [21]:
sumanth = [1098, "Hanuman", 129.423, "ABCD", 'w']

#modifying the list by index
sumanth[0]=20
print(sumanth);

#Modifying the list by slicing
sumanth[2:4] = ["ram","krishna"]
print(sumanth);

[20, 'Hanuman', 129.423, 'ABCD', 'w']
[20, 'Hanuman', 'ram', 'krishna', 'w']

# Create words in list

In [23]:
list = [1098, "Hanuman", 129.423, "ABCD", 'w', "shiva", "vishnu", "ganesh", "narasimha", "ram", "krishna", "kalki", "sumanth", "sai", "bunari", 47621, 2321, 21.34, 'a', 'D']
print(list);

[1098, 'Hanuman', 129.423, 'ABCD', 'w', 'shiva', 'vishnu', 'ganesh', 'narasimha', 'ram', 'krishna', 'kalki', 'sumanth', 'sai', 'bunari', 47621, 2321, 21.34, 'a', 'D']

# List Methods

### 1. Append(): adding the element to the end of the list

In [27]:
a = [1231,232,323,4534,5635,4542]
a.append(4343)
print(a);

[1231, 232, 323, 4534, 5635, 4542, 4343]

### 2. Extend(): adding each element at the end

In [30]:
sumanth = [1098, "Hanuman"]
sai = [7923]
sumanth.extend(sai)
print(sumanth);

[1098, 'Hanuman', 7923]

### 3. Insert(): Inserts a given element at a given index in a list.

In [38]:
fruit = ["banana","cherry","grape"] 
fruit.insert(1,"apple") 
print(fruit);

['banana', 'apple', 'cherry', 'grape']

### 4. Remove(): Removes a given element from the List.

In [34]:
lis = ['a','b','c','b']
lis.remove("b")
print(lis);

['a', 'c', 'b']

### 5. pop(): Removes and returns the last value from the List or the given index value.

In [36]:
numbers = [1, 2, 3, 4, 5, 7, 9, 4]
print (numbers);
popped_element = numbers.pop(6)
print(popped_element);

[1, 2, 3, 4, 5, 7, 9, 4]
9

### 6. Index(): Returns the lowest index where the element appears.

In [39]:
Animals= ["cat", "dog", "tiger"] 
print(Animals);
x = Animals.index("dog")
print(x);

['cat', 'dog', 'tiger']
1

### 7. Count(): These methods count the elements.

In [45]:
numbers = [2, 3, 2, 4, 2, 6, 7, 9, 6, 0, 2, 6, 4]
count = numbers.count(4)
print(count);

2

### 8. Sort(): Sort a List in ascending, descending, or user-defined order.

In [47]:
numbers = [1, 2, 3, 2, 4, 2, 6, 7, 9, 6, 0, 2, 6, 4]
numbers.sort()
print (numbers);

[0, 1, 2, 2, 2, 2, 3, 4, 4, 6, 6, 6, 7, 9]

### 9. Reverse(): Reverses objects of the List in place.

In [48]:
numbers = [ 6, 0, 2, 6, 4, 8, 6, 0]
numbers.reverse()
print (numbers);

[0, 6, 8, 4, 6, 2, 0, 6]

### 10. min(): returns the smallest of the values or the smallest item in an iterable passed as its parameter.

In [49]:
numbers = [23,25,65,21,98]
print(min(numbers));

21

### 11. max(): returns the largest item in an iterable or the largest of two or more arguments.

In [55]:
#example1
var1 = 434
var2 = 845
var3 = 224
 
max_val = max(var1, var2, var3)
print(max_val);


#example2
var1 = "sai"
var2 = "sumanth"
var3 = "bunari"
 
max_val = max(var1, var2, var3)
print(max_val);

845
sumanth

### 12. Copy(): It returns a shallow copy of a list.

In [57]:
import copy
li1 = [1, 2, [3, 5], 4]
li2 = copy.copy(li1)
print("li2 ID: ", id(li2), "Value: ", li2);
li3 = copy.deepcopy(li1)
print("li3 ID: ", id(li3), "Value: ", li3);

li2 ID:  4452498432 Value:  [1, 2, [3, 5], 4]
li3 ID:  4452492672 Value:  [1, 2, [3, 5], 4]

### 13. Clear(): This method is used for removing all items from the list.

In [60]:
lis = [1, 2, 3]
lis.clear()
print(lis);

[]

### 14. Len(): This function returns the length of list.

In [61]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(len(List));

10